.c-form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.c-form__label {
  font-size: 14px;
}
.c-form__input, .c-form__textarea {
  max-width: 350px;
  min-height: 30px;
  border: none;
  outline: none;
  border-bottom: 1px solid #10435C;
}
.c-form__textarea {
  max-height: 112px;
}
