@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body {
  font-family: "Inter", sans-serif !important;
  font-size: 16px;
  line-height: 1.6;
  color: #10435C;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 24px;
  margin-bottom: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 12px;
}

body {
  background-color: #EFF2F4;
  box-sizing: border-box;
}

button {
  /*border: none;*/
  outline: none;
}

.c-form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.c-form__label {
  font-size: 14px;
}
.c-form__input, .c-form__textarea {
  max-width: 350px;
  min-height: 30px;
  border: none;
  outline: none;
  border-bottom: 1px solid #10435C;
}
.c-form__textarea {
  max-height: 112px;
}

.c-btn__group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}
.c-btn__primary {
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  gap: 8px;
  border: none;
  background-color: #1f82b3;
  color: #fff;
  border: 2px solid #1f82b3;
}
.c-btn__primary:hover {
  background-color: #10435C;
  border-color: #10435C;
}
.c-btn__secondary, .c-btn__secondary-danger {
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  gap: 8px;
  border: none;
  color: #1f82b3;
  border: 2px solid #1f82b3;
}
.c-btn__secondary:hover, .c-btn__secondary-danger:hover {
  color: #FFF;
  background-color: #10435C;
  border-color: #10435C;
}
.c-btn__secondary-danger {
  color: #EF476F;
  border-color: #EF476F;
}
.c-btn__secondary-danger:hover {
  color: #FFF;
  background-color: #EF476F;
  border-color: #EF476F;
}
.c-btn__tertiary, .c-btn__tertiary-danger {
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  gap: 8px;
  border: none;
  padding: 0;
  background-color: transparent;
  color: #10435C;
}
.c-btn__tertiary-danger {
  color: #EF476F;
}
